**/.DS_Store
**/*.lock
**/package-lock.json
**/pnpm-lock.yaml
**/*.rs.bk
**/CHANGELOG.txt
**/.env
**/.local
**/.log*
**/node_modules
**/target
**/dist
**/docs/src/public/auto_api
**/doc_build
**/test
